<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADScrollViewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>882944F51C5C4DAD009BF5D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8829450E1C5C4DAD009BF5D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>882945191C5C4DAD009BF5D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
